{% extends 'includes/base_modal.html' %}


{% block id %}
    "Modal-AddIAnimal"
{% endblock %}


{% block modal_title %}
    Cadastrando um animal
{% endblock %}


{% block modal_body %}
    <form method="POST" class="form-register" style="color:white">
        {{ register_animal_form.hidden_tag() }}

        {% for key in register_animal_form %}
            {% if key.type != 'SubmitField' and key.type != 'CSRFTokenField' %}
                {{ key.label() }}
                {{ key(class="form-control") }}
            {% endif %}
        {% endfor %}

        <br>

        {{ register_animal_form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
{% endblock %}