{% extends 'includes/base_modal.html' %}


{% block id %}
    "Modal-AddIConsultation"
{% endblock %}


{% block modal_title %}
    Cadastrando uma consulta
{% endblock %}


{% block modal_body %}
    <form method="POST" class="form-register" style="color:white">
        {{ register_consultation_form.hidden_tag() }}

        {{ register_consultation_form.date.label() }}
        {{ register_consultation_form.date(class="form-control") }}

        {{ register_consultation_form.time.label() }}
        {{ register_consultation_form.time(class="form-control") }}

        <br>

        {{ register_consultation_form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
{% endblock %}

