<style>
  .modal-content {
    background-color: #212121
  }



</style>


<!-- Update Info Animal -->
<div class="modal fade" id="Modal-UpdateInfo-{{ animal.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    Atualizando Informações de {{ animal.name }}
                </h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" class="form-register" style="color:white">
                    {{ update_animal_form.hidden_tag() }}
                    {{ update_animal_form.insert_default(animal) }}

                    {% for key in update_animal_form %}
                        {% if key.type != 'SubmitField' and key.type != 'CSRFTokenField' %}
                            {{ key.label() }}
                            {{ key(class="form-control", value=key.default) }}
                        {% endif %}
                    {% endfor %}

                    <br>
                    <input id="updated_animal" name="updated_animal" type="hidden" value="{{ animal.id }}">
                    {{ update_animal_form.submit(class="btn btn-lg btn-block btn-primary", value='Atualizar animal') }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Animal -->
<div class="modal fade" id="Modal-DeleteAnimal-{{ animal.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    Deletando {{ animal.name }}
                </h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ delete_animal_form.hidden_tag() }}
                    <h4 class="text-center">
                        Você tem certeza que deseja deletar seu animal {{ animal.name }} do sistema?
                    </h4>
                    <br>
                    <input id="deleted_animal" name="deleted_animal" type="hidden" value="{{ animal.id }}">
                    {{ delete_animal_form.submit(class="btn btn-outline-danger btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>