<style>
  .modal-content {
    background-color: #212121
  }



</style>


<!-- Schedule Consultation -->
<div class="modal fade" id="Modal-ScheduleConsultation-{{ consultation.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">
                        <!-- -->
                        Marcando consulta com {{ User.query.filter_by(login=consultation.veterinarian_login).first().name }} na data {{ consultation.date }}
                    </h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% if current_user.has_animals() %}
                <div class="modal-body">
                    <form method="POST" class="form-register" style="color:white">
                        {{ schedule_consultation_form.hidden_tag() }}
                        {{ schedule_consultation_form.set_animals(Animal.query.filter_by(client_login=current_user.login)) }}

                        {{ schedule_consultation_form.animals.label() }}
                        {{ schedule_consultation_form.animals(class="form-control") }}

                        <br>
                        <input id="scheduled_consultation" name="scheduled_consultation" type="hidden" value="{{ consultation.id }}">
                        {{ schedule_consultation_form.submit(class="btn btn-lg btn-block btn-primary") }}
                    </form>
                </div>
            {% else %}
                <div class="modal-body">Você não possui animais cadastrados no momento!</div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Unschedule Consultation -->
<div class="modal fade" id="Modal-UnscheduleConsultation-{{ consultation.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    Desmarcando consulta com {{ User.query.filter_by(login=consultation.veterinarian_login).first().name }} na data {{ consultation.date }}
                </h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ unschedule_consultation_form.hidden_tag() }}
                    <h4 class="text-center">
                        Você tem certeza que deseja desmarcar esta consulta?
                    </h4>
                    <br>
                    <input id="unscheduled_consultation" name="unscheduled_consultation" type="hidden" value="{{ consultation.id }}">
                    {{ unschedule_consultation_form.submit(class="btn btn-outline-danger btn-block", value="Desmarcar Consulta") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Delete Consultation -->
<div class="modal fade" id="Modal-DeleteConsultation-{{ consultation.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    Deletando consulta
                </h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if consultation.is_scheduled %}
                    <h4 class="text-center">
                        Infelizmente esta consulta não pode ser deletada, pois já está marcada!
                    </h4>
                {% else %}
                    <form method="POST">
                        {{ delete_consultation_form.hidden_tag() }}
                        <h4 class="text-center">
                            Você tem certeza que deseja deletar esta consulta do sistema?
                        </h4>
                        <br>
                        <input id="deleted_consultation" name="deleted_consultation" type="hidden" value="{{ consultation.id }}">
                        {{ delete_consultation_form.submit(class="btn btn-outline-danger btn-block", value="Deletar Consulta") }}
                    </form>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>
