{% extends 'includes/base_modal.html' %}


{% block id %}
    "Modal-UpdateInfo-{{ animal.id }}"
{% endblock %}


{% block modal_title %}
    Atualizando Informações de {{ animal.name }}
{% endblock %}


{% block modal_body %}
    <form method="POST" class="form-register" style="color:white">
        {{ update_animal_form.hidden_tag() }}
        {{ update_animal_form.insert_default(animal) }}

        {% for key in update_animal_form %}
            {% if key.type != 'SubmitField' and key.type != 'CSRFTokenField' %}
                {{ key.label() }}
                {{ key(class="form-control", value=key.default) }}
            {% endif %}
        {% endfor %}

        <br>
        <input id="updated_animal" name="updated_animal" type="hidden" value="{{ animal.id }}">
        {{ update_animal_form.submit(class="btn btn-lg btn-block btn-primary", value='Atualizar animal') }}
    </form>
{% endblock %}